[Desktop Entry]
Name=Miru
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=miru
StartupWMClass=Miru
X-AppImage-Version=3.1.1
Comment=Bittorrent streaming software for cats
Keywords=miru;anime
MimeType=x-scheme-handler/miru;
Categories=AudioVideo;Video;